---
import { Image } from "astro:assets"
import { css } from "@styled-system/css"
import externalLinkIcon from "@images/externalLinkIcon.svg"
const { content } = Astro.props
---

<ul
  class={css({
    "& img": {
      display: "inline-block",
      height: "18px",
      width: "18px",
      ml: "5px",
    },
  })}
>
  {
    content.map((item) => {
      const href = item.data.arquivo_pdf
        ? `/pdf/${item.data.arquivo_pdf}`
        : (item.data.link_externo ?? null)

      const isExternal = Boolean(href)

      return (
        <li key={item.id}>
          <a
            href={href ?? `/pesquisa-e-publicacoes/${item.id}`}
            target={isExternal ? "_blank" : undefined}
            rel={isExternal ? "noopener noreferrer" : undefined}
          >
            {item.data.titulo}
            {isExternal && <Image src={externalLinkIcon} alt="Link externo" />}
          </a>
          <div
            class={css({
              ml: "20px",
            })}
          >
            {item.data.descricao}
          </div>
        </li>
      )
    })
  }
</ul>
